*, ::before, ::after {
    box-sizing: border-box;
}
html {
    font-family: tahoma;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw;
    height:50vh;
    background-color: white;
    margin-top:6em;
    border-radius:50px;
    border:5px solid black;
}
img {
    width:55px;
    height: 40px;
    margin-top:2em;
    margin-left: 2em;
}
img:hover {
    cursor: pointer;
}
button {
    width:7em;
    border:2px solid black;
    background:grey;
    margin-top: 1em;
}
#score-area {
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap:15px;
}
#btn-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media (orientation: portrait) {
h2 {
    font-size: 18px;
    margin: 1em auto;
}
.container {
    width:80vw;
    height:50vh;
    background-color: white;
    margin-top:10em;
}
img {
    width:50px;
    height: 40px;
    margin-top:2em;
    margin-left: 1em;
}
p{
    font-size:11px;
}
#resultado-texto {
    margin-left: 1em;
}
img:hover {
    cursor: pointer;
}
button {
    background: grey;
    border:2px solid black;
    width:8em;
    font-size:11px;
}
#score-area {
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap:15px;
}
#btn-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
}
@media (orientation: portrait) and (min-width:768px) {
    h2 {
    font-size: 18px;
    margin: 1em auto;
}
.container {
    width:50vw;
    height:40dvh;
    background-color: white;
    margin-top:15em;
}
img {
    width:50px;
    height: 40px;
    margin-top:2em;
    margin-left: 1em;
}
p{
    font-size:11px;
}
#resultado-texto {
    margin-left: 1em;
}
}
@media (orientation: portrait) and (min-width:1024px) {
       h2 {
    font-size: 18px;
    margin: 1em auto;
}
.container {
    width:40vw;
    height:30dvh;
    background-color: white;
    margin-top:20em;
}
img {
    width:50px;
    height: 40px;
    margin-top:2em;
    margin-left: 1em;
}
p{
    font-size:11px;
}
#resultado-texto {
    margin-left: 1em;
}
}
@media (orientation: landscape) {
    h2 {
    font-size: 18px;
    margin: 1em auto;
}
.container {
    width:70vw;
    height:70dvh;
    background-color: white;
    margin-top:2em;
}
img {
    width:50px;
    height: 40px;
    margin-top:2em;
    margin-left: 1em;
}
p{
    font-size:11px;
}
#resultado-texto {
    margin-left: 1em;
}
}
@media (orientation: landscape) and (min-width:1024px) {
       h2 {
    font-size: 18px;
    margin: 1em auto;
}
.container {
    width:40vw;
    height:40dvh;
    background-color: white;
    margin-top:13em;
}
img {
    width:50px;
    height: 40px;
    margin-top:2em;
    margin-left: 1em;
}
p{
    font-size:11px;
}
#resultado-texto {
    margin-left: 1em;
}
}